{
    "telegram_api_id": 0,
    "telegram_api_hash": "YOUR_API_HASH",
    "bot_token": "YOUR_BOT_TOKEN",
    "chat_id": 0,
    "monitored_channel": "kpszsu",
    "keywords": [
        "київ",
        "києв",
        "київщ",
        "київськ",
        "київськи",
        "бровар",
        "борисп",
        "васильк",
        "ірпін",
        "обухів",
        "вишгород"
    ],
    "cities": [
        "київ",
        "києв",
        "київщ",
        "київськ",
        "київськи",
        "бровар",
        "борисп",
        "васильк",
        "ірпін",
        "обухів",
        "вишгород"
    ],
    "fast_threats": [
        "балістичн",
        "балістик",
        "ракет",
        "крилат",
        "міг-31",
        "міг31",
        "зліт міг",
        "зліт ворожого міг",
        "аеробаліст"
    ],
    "slow_threats": [
        "шахед",
        "безпілотник",
        "бпла",
        "дрон"
    ],
    "national": [
        "по всій україні",
        "всій території україни",
        "масован"
    ],
    "all_clear": [
        "відбій"
    ],
    "far_regions": [
        "харків",
        "сум",
        "одес",
        "одещ",
        "львів",
        "дніпро",
        "дніпропетр",
        "запоріж",
        "херсон",
        "миколаїв",
        "полтав",
        "чернігів",
        "житомир",
        "черкас",
        "вінниц",
        "чернівц",
        "тернопіл",
        "луцьк",
        "волин",
        "рівне",
        "ужгород",
        "закарпат",
        "франківськ",
        "хмельниц",
        "кропивниц",
        "кіровоград",
        "донец",
        "луган",
        "крим"
    ],
    "far_directions": [
        "східн",
        "захід",
        "південн",
        "південь"
    ]
}