{
    "telegram_api_id": 0,
    "telegram_api_hash": "YOUR_API_HASH",
    "bot_token": "YOUR_BOT_TOKEN",
    "chat_id": 0,
    "monitored_channel": "kpszsu",
    "keywords": [
        "київ",
        "києв",
        "київщ",
        "київськ",
        "київськи",
        "бровар",
        "борисп",
        "васильк",
        "ірпін",
        "обухів",
        "вишгород"
    ],
    "cities": [
        "київ",
        "києв",
        "київщ",
        "київськ",
        "київськи",
        "бровар",
        "борисп",
        "васильк",
        "ірпін",
        "обухів",
        "вишгород"
    ],
    "fast_threats": [
        "балістичн",
        "ракетн",
        "крилат",
        "міг-31",
        "міг31",
        "зліт міг",
        "зліт ворожого міг",
        "аеробаліст"
    ],
    "slow_threats": [
        "шахед",
        "безпілотник",
        "бпла",
        "дрон"
    ],
    "national": [
        "по всій україні",
        "всій території україни",
        "масован"
    ],
    "all_clear": [
        "відбій"
    ]
}